<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PDF</title>
</head>

<body>
	<h1><%= bodyObj.name && bodyObj.name %></h1>
	<h2><%= bodyObj.password && bodyObj.password %></h2>
</body>

</html>